.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: var(--black);
    z-index: 2;
}

.header nav {
    height: 100%;
}

.menu {
    gap: 5vw;
    width: 85vw;
    height: 100%;
    max-width: 1300px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    background-color: var(--black);
}

.menu a {
    display: inline-block;
    min-width: 100px;
    padding: 15px;
    font-size: 1.3rem;
    white-space: nowrap;
    letter-spacing: 1px;
    text-align: center;
    color: var(--grey);
}

.menu a:hover {
    color: var(--white);
}

.header .menu__btn {
    display: none;
}

.menu__btn {
    position: absolute;
    top: 10px;
    right: 5vw;
    color: var(--white);
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu__btn::after,
.menu__btn::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 2px;
    transition: transform 500ms;
    background-color: var(--white);
}

.menu__btn::before {
    transform: translateY(-10px);
    box-shadow: 0 10px var(--white);
}

.menu__btn::after {
    transform: translateY(10px);
}

.menu.open~.menu__btn::before {
    transform: translateY(0) rotate(135deg);
    box-shadow: none;
}

.menu.open~.menu__btn::after {
    transform: translateY(0) rotate(225deg);
}

@media only screen and (max-width: 767px) {

    .header {
        position: static;
    }

    .menu {
        border-bottom: none;
        overflow: hidden;
        z-index: 2;
    }

    .menu.open {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: left;
        padding-top: 15vh;
        transition: width 500ms;
    }

    .menu a {
        visibility: hidden;
        color: transparent;
        cursor: none;
    }

    .menu.open a {
        width: 90vw;
        height: 60px;
        font-size: 1.8rem;
        color: var(--white);
        line-height: 200%;
        transition: color 1.5s;
        visibility: visible;
    }

    .menu.open a:hover {
        color: var(--grey);
        background-color: black;
    }

    .header .menu__btn {
        display: flex;
        z-index: 2;
    }

}
