.projects-modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.projects-modal-container:not(.open-modal) {
    display: none;
}

.projects-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 85vw;
    height: 100%;
    max-height: 60vh;
    border: 1px solid var(--grey);
    background-color: var(--black);
    box-shadow: var(--shadow);
    overflow-y: auto;
    animation: show-modal 600ms ease;
    border-radius: 4px;
}

.projects-modal__content {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.projects-modal__title {
    font-size: 2rem;
    font-weight: 500;
}

.projects-modal__description {
    font-size: 1.5rem;
    flex-grow: 2;
    color: var(--grey);
}

.projects-modal__tags {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.projects-modal__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-modal__thumb__container {
    align-self: center;
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 55%;
    position: relative;
}

.projects-modal__thumb__link {
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.projects-modal__thumb__link:hover {
    color: var(--white);
    text-shadow: 0 0 3px black;
    background-color: rgba(0, 0, 0, 0.5);
    transition: color 200ms;
}

.projects-modal__thumb__link i.fa-arrow-up-right-from-square {
    padding-left: 10px;
    font-size: 2rem;
}

.projects-modal__thumb__link:hover i.fa-link {
    visibility: hidden;
}

.projects-modal__thumb__link i.fa-link {
    position: absolute;
    right: 6px;
    bottom: 6px;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 3px black;
}

.projects-modal__close-btn {
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 2.5rem;
    text-shadow: 0 0 8px black;
    cursor: pointer;
}

.projects-modal__close-btn:hover {
    opacity: 0.8;
}

.projects-modal__visit-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 12rem;
    height: 3.5rem;
    align-self: center;
    margin: 2vh 0;
}

.projects-modal__visit-btn i {
    font-size: 2rem;
}

@keyframes show-modal {
    from {
        opacity: 0.2;
        transform: translateY(-80px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (min-width: 480px) {
    .projects-modal {
        max-width: 80vw;
        max-height: 65vh;
    }

    .projects-modal__title {
        font-size: 1.7rem;
    }

    .projects-modal__description {
        font-size: 1.4rem;
    }

    .projects-modal__tags {
        font-size: 1.3rem;
    }
}


@media only screen and (min-width: 768px) {
    .projects-modal {
        max-width: 75vw;
        max-height: 75vh;
    }
}

@media only screen and (min-width: 1024px) {
    .projects-modal {
        width: 800px;
    }
}
